
/* page grid setup */
.artist-profile-body{
    margin-left: 103px;
    margin-right: 103px;
    background-color: rgb(24, 26, 28);
}

.artist-profile-page-grid{
    margin-top: 56px;
    background-color: rgb(24, 26, 28);
    height: 1300px;
    display: grid;
    grid-template-rows: 300px 52px 1fr;
}

/* artist proflie and reviews */
.artist-header{
    height: 100%;
    width: 100%;
    background-color: rgb(24, 26, 28);
    display: grid;
    grid-template-columns: 1fr 600px;
}

.artist-info-container{
    margin-left: 10px;
    display: flex;
    background-color: rgb(24, 26, 28);
    flex: 1 200px;
    align-items: center;
}

.artist-profile-img{
    width: 200px;
    border-radius: 100px;
}

.artist-name-container{
    margin-left: 40px;
}

.artist-name{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 60px;
    font-weight: 505;

}

.artist-ratings{
    background-color: rgb(24, 26, 28);
    display: grid;
    grid-template-rows: 100px 1fr;
}

.artist-ratings-top{
    background-color: rgb(24, 26, 28);
    width: 100%;
}

.artist-ratings-bottom{
    background-color: rgb(24, 26, 28);
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.rating-container{
    background-color: rgb(24, 26, 28);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    color: rgb(207, 207, 207);
}

.total-rating{
    background-color: rgb(24, 26, 28);
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.user-rating,
.rating-out-of-five{
    background-color: rgb(24, 26, 28);
    text-align: center;
    margin: 10px;
}

.dark-elements{
   color: rgb(116, 114, 114);
   font-family: "DM Sans", sans-serif;
   padding: 0px;
}

.rating-container-text{
    color: rgb(207, 207, 207);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 10px;
}

.your-rating,
.average-rating,
.total-rating{
    color: rgb(207, 207, 207);
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    padding: 0px;
    font-weight: 500;
}

.review-button-artist{
    width: 508px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(50, 51, 54);
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-style: bold;
    color: rgb(207, 207, 207);
    cursor: pointer;
    transition: background-color .15s, opacity .15s;
    margin-left: 9px;
}

.review-button-artist:hover{
    background-color:rgb(82, 84, 96);
}

.review-button-artist:active{
    opacity: .5
}

.slash5{
    font-family: "DM Sans", sans-serif;
    color: rgb(116, 114, 114);
    font-size: 18px;
}

.total-rating-container,
.user-rating-container,
.rating-out-of-five-container{
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column; 
    border: solid;
    border-left: 1px;
    border-top: none;
    border-bottom: none;
    border-color: rgb(39, 38, 38);
    align-items: center;
    justify-items: center;
}

.total-rating-container{
    border: none;
    width: 201.5px;
}

.center-ratings{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

/* navbar */
.artist-page-navbar{
    background-color: rgb(24, 26, 28);
    display: grid;
    grid-template-columns: 100px 150px;
    border: solid;
    border: 0px;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(39, 38, 38);    
}

.home-button-grid{
    background-color: rgb(24, 26, 28);
    display: flex;
    flex-direction: column;
    height: 50px;
    align-items: center;
    justify-items: center;
    margin-left: 10px;
}

.button-container{
    flex: 0 0 46px;
    text-align: center;
    width: 100%;
}

.home-nav-button-container{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.home-button{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 580;
    font-style: bold;
    color: rgb(184, 181, 181);
    cursor: pointer;
    background-color: rgb(24, 26, 28);
    transition: background-color .15s, opacity .15s;
}

.discog-button{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color:rgba(82, 84, 96, .2);
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 580;
    font-style: bold;
    color: rgb(105, 199, 236);
    cursor: pointer;
    transition: background-color .15s, opacity .15s;
}

.discog-button:active,
.home-button:active{
    opacity: .5;
}

.discog-button:active,
.home-button:hover{
    background-color:rgb(82, 84, 96);
}


/* top tracks */
.discography-grid{
    background-color: rgb(24, 26, 28);
    display: grid;
    grid-template-rows: min-content;
    
}

.grid-below-navbar{
    background-color: rgb(24, 26, 28);
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    
}

.discog-container{
    height: fit-content;
    background-color: rgb(24, 26, 28);

}

.albums-by{
    font-family: "DM Sans", sans-serif;
    font-weight: 580;
    font-style: bold;
    color: rgb(184, 181, 181);
    font-size: 20px;
    margin-bottom: 10px;
}

.album-type-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 3px;
    font-family: "DM Sans", sans-serif;
    color: rgb(184, 181, 181);
    font-weight: 100;
    font-size: 13px;
    cursor: pointer;
    transition: text-decoration 0.15s;
    padding-top: 3px;
}

.album-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 3px;
    font-family: "DM Sans", sans-serif;
    color: rgb(207, 207, 207);
    font-weight: 550;
    font-size: 13px;
    cursor: pointer;
    transition: text-decoration 0.15s;
    padding-top: 3px;
    transition: text-decoration .15s, opacity .15s;
}

.album-info:hover{
    text-decoration: underline;
}
.album-info:active{
    opacity: .5;
}


.discog-page-img {
    height: 180px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 0; 
    border-style: solid; 
    border-color: transparent; 
    transition: border-width 0.15s ease, border-color 0.3s ease, border-radius .3s ease;
    cursor: pointer; 
}

.grid-below-navbar{
    background-color: rgb(24, 26, 28);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 10px;
}

/* singles */
.single-title-container{
    margin-top: 40px;
}
.singles-by{
    font-family: "DM Sans", sans-serif;
    font-weight: 580;
    font-style: bold;
    color: rgb(184, 181, 181);
    font-size: 20px;
    margin-bottom: 10px;
}
.eps-by{
    font-family: "DM Sans", sans-serif;
    font-weight: 580;
    font-style: bold;
    color: rgb(184, 181, 181);
    font-size: 20px;
    margin-bottom: 10px;
}
.singles-layout{
    background-color: rgb(24, 26, 28);
}

.discog-grid-container{
    background-color: rgb(50, 51, 54);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    border-radius: 10px; 
}

.indv-grid-box{
    background-color: transparent;
    display: grid;
    grid-template-rows: 190px 30px 35px;
    justify-content: center;
    height: 260px;
}

.indv-grid-box:empty{
    display: none;
}

.discog-page-img2 {
    height: 180px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 0; 
    border-style: solid; 
    border-color: transparent; 
    cursor: pointer; 
    align-items: center;
    justify-content: center;
    transition: padding-top .15s, border-width .15s, border-color .15s, border-radius .15s;
}

.discog-page-img2:hover {
    border-width: 5px; 
    border-color: rgba(143, 147, 165, 0.5);
    border-radius: 10px;
}

.img-container{
    padding-top: 10px;
    transition: padding-top .15s;
}

.img-container:hover{
    padding-top: 4px;
}



