/* .recent-activity-container {
  background-color: rgb(43, 45, 46);
  height: 40%;
  border-radius: 10px;
  width: fit-content;
  max-width: 100%;
} */
/* 
.recent-activity {
  background-color: rgb(50, 51, 54);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; /*set to 5 for smaller screens
  border-radius: 10px;
} */
