.edit-profile-grid {
  display: grid;
  grid-template-rows: 150px 1fr 0.3fr 1fr;
  width: 100%;
  padding-bottom: 80px;
}

.profile-picture-section {
  background-color: rgb(24, 26, 28);
  display: grid;
  grid-template-rows: 40px 2fr 1fr;
}

.change-password-box {
  background-color: rgb(24, 26, 28);
  display: grid;
  grid-template-rows: 45px 55px 55px 1fr;
  height: auto;
}

.change-user-name-input-error,
.change-user-name-input-no-error {
  background-color: rgb(24, 26, 28);
  display: grid;
  height: auto;
}
.change-user-name-input-no-error {
  grid-template-rows: 45px 55px 1fr;
}

.change-user-name-input-error {
  grid-template-rows: 45px 30px 55px 1fr;
}

.new-password-input-box {
  width: 50%;
  height: 10px;
  padding: 16px;
  margin-top: 10px;
  background-color: rgb(50, 51, 54);
  border-radius: 10px;
  border: 0px;
}

.old-password-input-box,
.change-username-input-box {
  width: 50%;
  height: 10px;
  padding: 16px;
  background-color: rgb(50, 51, 54);
  border-radius: 10px;
  border: 2px solid transparent;
  font-family: "DM Sans", sans-serif;
  color: rgb(207, 207, 207);
}

.change-username-input-box:focus {
  outline: none;
  border-color: rgb(101, 103, 119);
}

.save-button {
  width: 100px;
  margin-top: 20px;
  height: 40px;
}

.setting-header {
  font-family: "DM Sans", sans-serif;
  color: rgb(207, 207, 207);
  font-weight: 550;
  font-size: 20px;
  height: 23px;
}

.change-profile-pic-input {
  margin-top: 20px;
}

.save-button {
  background-color: rgb(50, 51, 54);
  font-family: "DM Sans", sans-serif;
  color: rgb(207, 207, 207);
  font-weight: 550;
  border: 0px;
  border-radius: 10px;
  transition: background-color 0.2s, opacity 0.2s;
}

.save-button:hover {
  background-color: rgb(62, 64, 66);
}

.save-button:active {
  opacity: 0.5;
}

.error-text {
  color: rgb(255, 57, 57);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.image-upload-container {
  height: 200px;
  display: flex;
  align-items: center;
}
