.album-info {
  display: flex;
  flex-direction: row;
  background-color: rgb(24, 26, 28);
  align-items: center;
  gap: 14px;
}

.album-info-text {
  margin-top: 10px;
  color: rgb(207, 207, 207);
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-left: 2px;
}

.album-info-text-point {
  display: flex;
  color: rgb(207, 207, 207);
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
}
