.track-list {
  background-color: rgb(24, 26, 28);
  margin-top: 20px;
  width: 740px;
}

.tracks-font {
  font-family: "DM Sans", sans-serif;
  color: rgb(207, 207, 207);
  font-size: 23px;
  margin: 0;
  margin-bottom: 12px;
}

.track-list-container {
  background-color: rgb(43, 45, 46);
  border-radius: 10px;
}

.tracks {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(43, 45, 46);
  transition: background-color 0.15s, opacity 0.15s;
  max-width: 740px;
}

.indv-track-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  /* background-color: red; */
  padding: 5px;
}

.track-number {
  display: flex;
  width: 40px;
  font-family: "DM Sans", sans-serif;
  color: rgb(83, 81, 81);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  justify-content: center;
}

.track-title-container {
  flex: 1;
  font-family: "DM Sans", sans-serif;
  color: rgb(207, 207, 207);
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-rating {
  display: flex;
  width: 150px;
  font-family: "DM Sans", sans-serif;
  color: rgba(160, 161, 164, 1);
}

.show-more-button:hover,
.tracks:hover {
  background-color: rgb(62, 64, 66);
}
.show-more-button:active,
.tracks:active {
  opacity: 0.5;
}

.show-more-button {
  width: 100%;
  background-color: rgb(43, 45, 46);
  border: 0px;
  height: 35px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Show-More-Text,
.Show-Less-Text {
  font-family: "DM Sans", sans-serif;
  color: rgb(207, 207, 207);
}
