.reviews-container {
  background-color: rgb(43, 45, 46);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  border-bottom: solid;
  border-color: rgb(39, 38, 38);
  height: fit-content;

}

.indv-review-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviews-container:last-child {
  border-bottom: none;
  
}

.user-info {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.user-img {
  display: flex;
  width: 100px;
  background-color: rgb(43, 45, 46);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.user-img-in-review {
  width: 100px;
  border-radius: 50px;
}

.users-review-info {
  display: flex;
  flex-direction: column;

  justify-content: center;

  margin-left: 10px;
  background-color: rgb(43, 45, 46);
}

.users-name-font {
  font-family: "DM Sans", sans-serif;
  color: rgb(184, 181, 181);
  margin: 0;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 350;
}

.name {
  display: inline-block;
  color: rgb(207, 207, 207);
  font-family: "DM Sans", sans-serif;
  font-weight: 550;
}

.date {
  color: rgb(184, 181, 181);
  font-family: "DM Sans", sans-serif;
  margin: 0;
  font-weight: 300;
  height: 30px;
}

.title {
  color: rgb(238, 236, 236);
  font-family: "DM Sans", sans-serif;
  margin: 0;
  margin-top: 20px;
  font-weight: 550;
  font-size: 20px;
}

.no-review-text {
  color: rgb(238, 236, 236);
  font-family: "DM Sans", sans-serif;
}

.user-review{
  color: rgb(238, 236, 236);
  padding-left: 10px;
  height: fit-content;
}
