.header {
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: center;
  /* background-color: rgb(62, 63, 74); */
  background-color: rgb(24, 26, 28);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(39, 38, 38);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-left: 6.8%;
  padding-right: 6.8%;
}

.left-section {
  width: 190px;
  flex-shrink: 0;
  min-width: 100px;
}

/* search section of header*/
.middle-section {
  display: flex;
  max-width: 730px;
  flex: 1.2;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*right 1/3 of header*/
.right-section {
  background-color: (62, 63, 74);
  flex: 1 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 100px; */
}

