.review-button-container {
  display: grid;
  width: 120px;
  justify-content: center;
  align-items: center;
  
}

.review-button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s;
  /* background-color: rgb(101, 103, 119); */
  background-color: rgb(50, 51, 54);
  transition: background-color 0.15s, opacity 0.15s;
  cursor: pointer;
}

.review-button:hover {
  background-color: rgb(82, 84, 96);
}

.review-button:active {
  opacity: 0.5;
}

.review-button-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-style: bold;
  color: rgb(207, 207, 207);
  transition: background-color 0.15s, opacity 0.15s;
}

.cancel-button-in-overlay-container {
  display: flex;
  justify-items: center;
  align-items: center;
  max-height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(43, 45, 46);
  transition: background-color 0.15s, opacity 0.15s;

}

.cancel-button-overlay {
  height: 20px;
}

.cancel-button-in-overlay-container:hover {
  background-color: rgb(82, 84, 96);
}
.cancel-button-in-overlay-container:active {
  opacity: 0.5;
}

.review-box-default-header-container {
  background-color: rgb(43, 45, 46);
  height: fit-content;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 711px;
  position: relative;
}
